/****************************ELEMENTS*******************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Solway', serif;
}

p {
  font-weight: bold;
  color: #40514E;
  line-height: 2;
}

h1 {
  font-size: 5.7rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Roboto Slab', serif;
  color: #11999E;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  border-width: 6px;
  border-color: gray;
  margin-top: 100px;
  margin-bottom: 100px;
}

/****************************CLASSES******************************/
.top-container {
  background-color: #cbeaed;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.web-dev {
  font-weight: normal;
  font-size: 2.3rem;
  font-family: 'VT323', monospace;
}

.mountain-img {
  position: relative;
  top: 4px;
}

.profile-pic {
  width: 13%;

}

.middle-container {
margin: 100px 0;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 40px;
}

.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 40px;
}

.insta-link {
  font-weight: bold;
  color: #40514E;
  text-decoration: none;
}

.insta-link:hover {
  color: #2bc4ad;

}

.contact-msg {
width: 40%;
margin: 40px auto 60px;

}


.btn {
background:linear-gradient(to bottom, #66bfbf 5%, #11999e 100%);
background-color:#66bfbf;
border-radius:8px;
display:inline-block;
cursor:pointer;
color:#eaf6f6;
font-family: 'Roboto Slab', serif;
font-size:20px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
}
.btn:hover {
background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
background-color:#11999e;
}


.btn:active {
position:relative;
top:1px;
}


.footer-link {
  margin: 5px 20px 3px 20px;
  color: #11999E;
    text-decoration: none;
  font-weight: 600;
}

.footer-link:hover {
  color: #EAF6F6;

}

.bottom-container {
  padding: 40px 0 10px;
    background-color: #66BFBF;
  line-height: 2.4;
}

.copyright {
  color: #EAF6F6;
  padding: 10px 0;
  font-weight: normal;
  font-size: 13px;
}
